* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
.tema-light {
    --color-primary: #ffffff;
    --color-secondary: #fbfbfe;
    --color-accent: #3cb0d7;
    --font-color: #707070;
    --font-color-title: #000000;
}
.tema-dark {
    --color-primary: #333C4D;
    --color-secondary: #1F467E;
    --color-accent: #3cb0d7;
    --font-color: #EDF3FF;
    --font-color-title: #AAC7FF;
}

body{
   width: fit-content;
   font-family: "Kanit", sans-serif;
   background-color: var(--color-primary);
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 56px;
    top: 0;
    background-color: var(--color-primary);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
    animation-name: animasi;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.hamburger-button{
    display: none;
    
}
p {
    color: #707070;
    font-size: 18px;
}

.web-name h1{
    float: right;
    margin: 4px;
    margin-top: 0px;
    color: #3cb0d7;
}
.svg-cat{
    margin: 4px;
    margin-left: 48px;
}
nav{
    margin-right: 48px;
    display: flex;
    column-gap: 42px;
    justify-content: center;
    align-items: center;
    
}
nav a{
    color: var(--font-color);
    text-decoration-line: none;
    font-weight: 600;
} 
.button-tema {
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    background-color: unset;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
}
.button-tema img {
    width: 30px;
}

.button-tema:hover {
    background-color: #1F467E;
}

.Home{
    /* background-image: url('/Assets/img1.jpg'); */
    width: 100%;
    height: 600px;
    max-height: max-content;
    margin-top: 48px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    align-content: center;

}
.Home h1{
    margin-bottom: 0px;
    margin-left: 48px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.Home span {
    margin-left: 48px;
}
.Home p{
    margin-top: 0px;
    margin-left: 48px;
    float: inline-start;
}

main{
    margin-left: 48px;
    margin-right: 48px;
    
}

.category-title {
    margin-block: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.category-title h2{
    text-align: center;
    font-weight: 400;
    font-size: xx-large;
    color: var(--font-color-title);
    margin-bottom: 0px;
}

.category-title p{
    text-align: center;
    margin-top: 8px;
    color: var(--font-color);
}

.card-book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    background-color: var(--color-primary);
    color: var(--font-color);
    justify-content: center;
}
.card-book {
    background-color: var(--color-secondary);
    color: var(--font-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.3s;
    width: 30%;
    border-radius: 5px;
    padding: 8px;
}
.card-book h3{
    color: var(--font-color-title);
}
.card-book p{
    color: var(--font-color);
}
.card-book:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.article-container >h3 {
    font-weight: 400;
}

.card-book-img{
    border-radius: 5px 5px 0 0;
    width: 100%;
}
.article-container{
    padding: 2px 16px;
}
.board{
    display: flex; 
    justify-content: space-evenly;
    gap: 18px;
}
.card-board{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    transition: all 0.3s ease 0s;
    max-height: 350px;
    overflow: scroll;
    width: 50%;
    border-radius: 5px;
    text-align: -webkit-center;
    padding: 12px;
    animation-name: animasi-boxshadow;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    
}
.card-board >h1,h2 {
    color: var(--font-color-title);
    font-weight: 400;
}
.card-profile {
    display: flex;
    align-items: center;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 60%;
    border-radius: 5px;
    padding: 4px;
    box-sizing: border-box;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    background-color: var(--color-secondary);
    transition: transform 0.5s;
}
.card-profile:hover {
    transform: scale(1.1);
    background-color: #c1e5f1;
} 

.card-profile h3{
    width: 150px;
    font-weight: 500;
    color: var(--font-color-title);
}
.card-profile span{
    color: var(--font-color);
}
.media {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-static {
    border: 2px solid white;
    background-color: white;
    object-fit: cover;
    border-radius: 100000px;
    width: 54px;
    height: 54px;
    margin-bottom: 5px;
    display: block;
    position: static;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    margin-left: 8px;
    margin-top: 8px;
}
.margin-4px {
    margin: 4px;
}
.title{
    padding-left:8px;
}

.container {
    display: flex;
    margin-top: 48px;
    justify-content:space-around ;   
}
.Author-info{
    display: flex; 
    gap: 12px;
    width: 60%;
}
.info h3{
    color: var(--font-color-title);
}
.info p{
    color: var(--font-color);
}
.avatar{
    justify-content: flex-end;
}

.avatar img {
    border: 2px solid black;
    border-radius: 5px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    display: flex;
    position: static;
}
.comments {
    width: 30%;
    display: flex;
    justify-content: center;
}
form {
    font-family: Kanit,sans-serif;
}
form h3{
    color: var(--font-color-title);

}
form label{
    color: var(--font-color);
}


form >button {
    background-color: #3cb0d7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: white;
    font-family: Kanit,sans-serif;
    border: 0px;
    border-radius: 24px;
    width: 5rem;
    height: 2rem;
}
form>button:hover{
    background-color: #7ccde9;
}
.input-width {
    width: 70%;
}
.web-name{
    padding-left:48px ;
    display: flex;
    align-items: center;
}

footer {
    margin-top: 48px;
}
.footer-content {
    padding: 24px;
    background-color: #000000;
}
#cssportal-grid {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	margin-top: 24px;
    padding-inline: 12px;
    box-shadow: 1px -4px 6px rgba(0, 0, 0, .16), 0px 1px 2px rgba(0, 0, 0, .23);
}
#div1 {
	grid-area: 1/1/2/2;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3cb0d7;
    font-size: 24px;
    font-weight: bolder;
    align-content: center;
    background-color:#151414;
    border-radius: 8px;
}
#div1 svg {
    margin: 4px;  
}

#div2 {
	grid-area: 2/1/3/2;
    margin: 4px;
    background-color:#151414 ;
    border-radius: 8px;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

#div3 {
	grid-area: 1/2/3/3;
    margin: 4px; 
    padding: 8px;
    /* align-content: center; */
    border-radius: 8px;
    background-color: #151414;
    color: #ededed;
    text-align: justify;
}
#div3 span{
    margin-bottom: 12px;
    font-size: 1.2rem;
    text-decoration: underline;
    color: #ededed;
}


#div4 {
	grid-area: 1/3/3/3;
    margin: 4px; 
    padding: 12px;
    display: flex;
    flex-direction: column;
    background-color:#151414 ;
    border-radius: 8px;
    color: #707070;
    row-gap: 8px;
}
#div4 span{
    
    font-size: 1.2rem;
    color: #ededed;
}
#div4 a{
    text-decoration: none;
    
    color: #707070;
}
#div5 {
	grid-area: 1/4/3/5;
    margin: 4px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    background-color:#151414 ;
    border-radius: 8px;
    color: #707070;
    row-gap: 8px;
}
#div5 span{
    
    font-size: 1.2rem;  
    color: #ededed;
}
#div5 a{
    text-decoration: none;
    color: #707070;
}
#div5 ul {
    list-style-type: none;
    color: white;
}
#div5 li {
    margin-block: 12px;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* Animation */
@keyframes animasi {
    from {
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
    }
    to {
        box-shadow: 0 3px 6px rgb(6 255 195 / 16%), 0 1px 2px rgb(3 223 235 / 23%);
    }
}
@keyframes animasi-boxshadow {
    0% {
        box-shadow: #3cb0d7 0px -5px 8px 0px ;
    }
    25% {
        box-shadow: #3cb0d7 5px 0px 8px 0px ;
    }
    50% {
        box-shadow: #3cb0d7 0px 5px 8px 0px ;
    }
    75% {
        box-shadow: #3cb0d7 -5px 0px 8px 0px;
    }
    100% {
        box-shadow: #3cb0d7 0px -5px 8px 0px ;
    }
}



/* mobile */
@media screen and (max-width:600px)  {

    .svg-cat{
        margin-left: 0px;
    }

    .card-book-container{
        display: flex;
        flex-direction: column;
    }
    .card-book {
        width: 100%;
    }
    .board{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }
    .card-board{
        width: 100%;
    }
    .card-profile{
        width: 80%;
    }
    .media{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .Author-info{
        width: 100%;
    }
    nav {
        display: none;
    }
    .hamburger-button{
        display: flex;
        column-gap: 28px;
        align-items: center;
        margin-right:42px ;
        height: 100%;
        text-align: center;
        
    }
    #cssportal-grid {
        display: grid;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        box-shadow: 1px -4px 6px rgba(0, 0, 0, .16), 0px 1px 2px rgba(0, 0, 0, .23);
    }
    #div1 { 
        grid-area: 1 / 1 / 2 / 3;
    }
    #div2 { 
        grid-area: 2 / 1 / 3 / 3; 
    }
    #div3 { 
        grid-area: 3 / 1 / 5 / 3; 
    }
    #div4 { 
        grid-area: 5 / 1 / 7 / 2; 
    }
    #div5 { 
        grid-area: 5 / 2 / 7 / 3; 
    }






}

/* Tablet */
@media screen and (min-width:601px) and (max-width:1060px)  {

    .svg-cat{
        margin-left: 0px;
    }
    .card-book-container{
        display: flex;
        
    }
    .card-book {
        width: 40%;
    }
    .board{
        width: inherit;
    }
    .card-board{
        width: 100%;
    }
    .card-profile{width: 80%;}
    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .Author-info{
        width: 100%;
    }

    #cssportal-grid {
        display: grid;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        box-shadow: 1px -4px 6px rgba(0, 0, 0, .16), 0px 1px 2px rgba(0, 0, 0, .23);
    }
    #div1 { 
        grid-area: 1 / 1 / 2 / 3;
    }
    #div2 { 
        grid-area: 2 / 1 / 3 / 3; 
    }
    #div3 { 
        grid-area: 3 / 1 / 5 / 3; 
    }
    #div4 { 
        grid-area: 5 / 1 / 7 / 2; 
    }
    #div5 { 
        grid-area: 5 / 2 / 7 / 3; 
    }
    
}